div > p {
    background-color: mediumblue;
}

p {
    color: mediumaquamarine;
}

.example1 > p {
    color: purple;
}

#index {
    color: wheat;
}

.example1 > #example2 {
    color: black
}

#web {
    color: white;}

    input[type="text"] {
        background-color: chartreuse;
    }

    h2 ~ p {
        color: cornflowerblue;
    }

    .example3 > #example4 {
        color: indigo;
    }

    #example5 > p {
        color: darkslateblue;
    }

    #example6 > a[href="index.html"] {
        color: mediumvioletred;
    }

